.watch-container,
.timer-container {
  height: 30vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  margin: auto;
  margin-top: 3rem;
  /* border: 1px solid black; */
  display: none;
  opacity: 0;
  padding: 1rem;
  gap: 3rem;
}

fieldset {
  width: fit-content;
}

.timer-time-container,
.watch-time-container {
  font-size: 4rem;
  font-weight: 500;
  width: 50%;
  text-align: center;
}

.timer-time-container {
  width: 60%;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}

.action-button-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  height: fit-content;
}

.pauseBtn,
.resetBtn,
.startBtn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(0, 157, 255);
  color: white;
  cursor: pointer;
}

.pauseBtn:hover,
.resetBtn:hover,
.startBtn:hover {
  transform: scale(1.1);
}

.show {
  display: flex;
  opacity: 1;
}
